 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 html {
     line-height: 1.5;
     font-size: 1rem;
     font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
         'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
         sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;


 }

 .sidebar-nav {
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 2rem 1.5rem;

     background: linear-gradient(to bottom, #878274, #24221a);
     color: white;



 }

 .background-color-container {
     background-color: #24221a;
 }

 .main-section {
     min-height: 100vh;
     padding: 2rem 1.5rem;


     background: linear-gradient(to bottom, #dfdcda, #858176);
 }




 .icon-logo {
     width: 75px;
     height: 75px;
     display: block;
     margin-bottom: 1rem;
     /* GAB PAPALIT ABSOLUTE FILE PATH NG LOGO NA TO */
     background: url('C:\Users\memory\NFC-Reader-Website\public\icon.png') center/contain no-repeat;
     margin: 0 auto;
 }

 .moab-logo {
     width: 50px;
     height: 50px;
     background: url('C:\Users\memory\NFC-Reader-Website\public\moab.jpg') center/contain no-repeat;
     margin-right: .5rem;

 }

 .logout-section {
     display: flex;
     font-size: 1.25rem;
     align-items: center;
     justify-content: flex-start;


 }

 .logo-section p {
     margin-top: .5rem;
     font-size: 1rem;
     word-wrap: pretty;
 }


 .logout-section a {
     display: inline;
     text-decoration: none;
     color: white;
     font-weight: 500;
     padding: .5rem;
 }

 .list-item {
     border: none;
     margin-bottom: 1rem;
     font-weight: bold;
     font-size: 1.25rem;
     background-color: transparent !important;
     color: white;
     transition: color .1s ease-in-out 0s;
 }

 .list-group {
     text-align: center;



 }

 .logo-section {
     text-align: center;
     font-weight: 500;
     font-size: .90rem;
 }

 .logout-section a:hover,
 .logout-section a:focus,
 .list-item:hover,
 .list-item:focus {
     color: #42ca24 !important;

 }

 .logout-section a:active,
 .list-item:active {
     color: #287617 !important;

 }


 .form-container {
     margin: 0 auto;
     display: flex;
     height: 100%;
     justify-content: center;
     align-items: center;

 }

 .form-card-container {
     width: 100%;
     padding: 2rem;
     background-color: #24221a;
     color: white;
     font-weight: 500;
     font-size: 1.2rem;
     box-shadow: 5px 5px 5px -2px rgba(36, 34, 26, 0.4);
 }

 .add-member-button {
     width: 100%;
     margin-top: 1rem;
     background-color: #016401;
     padding: .5rem 2rem;
     border: none;
 }

 .form-heading {
     text-align: center;
     margin: 0;
     margin-bottom: 1.5rem;
     font-size: 2rem;
 }

 .form-input,
 .form-input:focus {
     background-color: #9f9b93;

     padding: .5rem;
     border: #9f9b93;
     color: white;
     box-shadow: none;
 }

 .select-hover:hover {
     background-color: none;
 }

 .form-input::placeholder {
     color: white;
 }

 .form-input .select-hover:hover {
     background-color: none !important;
     color: white;
 }

 @media (max-width: 992px) {
     .logout-section {
         display: flex;
         width: 100%;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

     .logout-section>a {
         display: block;
         margin-top: .5rem;

     }

     .sidebar-nav {
         min-height: auto;

     }

     .moab-logo {
         margin: 0;
     }

     .list-item {

         margin-bottom: 0.5rem;

     }

     .sidebar-nav {
         height: 100%;
     }

 }