 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 html {
     line-height: 1.5;
     font-size: 1rem;
     font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
         'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
         sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;


 }

 .sidebar-nav {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 2rem 3rem;

 }

 .main-section {
     min-height: 100vh;
     padding: 2rem 3rem;
 }

 .icon-logo {
     width: 100px;
     height: 100px;
     display: block;
     margin-bottom: 1rem;
     /* GAB PAPALIT ABSOLUTE FILE PATH NG LOGO NA TO */
     background: url('C:\Users\memory\NFC-Reader-Website\public\icon.png') center/contain no-repeat;
     margin: 0 auto;
 }

 .moab-logo {
     width: 50px;
     height: 50px;
     background: url('C:\Users\memory\NFC-Reader-Website\public\moab.jpg') center/contain no-repeat;
     margin-right: 1rem;
 }

 .logout-section {
     display: flex;
     width: 80%;
     align-items: center;

     justify-content: flex-start;
 }


 .logout-section a {
     display: inline;
 }

 .list-item {
     border: none;
 }

 .list-group {
     text-align: center;

 }

 .logo-section {
     text-align: center;
 }

 @media (max-width: 992px) {
     .logout-section {
         display: flex;
         width: 100%;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

     .logout-section>a {
         display: block;
         background-color: red;
     }

     .sidebar-nav {
         min-height: auto;

     }

     .moab-logo {
         margin: 0;
     }
 }