 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 html {
     line-height: 1.5;
     font-size: 1rem;
     font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
         'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
         sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;


 }

 .background {

     width: 100%;
     height: 100vh;
     position: absolute;

     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(to bottom, #287617, #42ca24);

     animation: 2s ease-in-out 2s fade-out;
 }



 .icon-logo {
     width: 150px;
     height: 200px;
     display: block;
     margin-bottom: 1rem;
     /* GAB PAPALIT ABSOLUTE FILE PATH NG LOGO NA TO */
     background: url('C:\Users\memory\NFC-Reader-Website\public\icon.png') center/contain no-repeat;
 }

 .center {
     text-align: center;
 }

 .flex-container {
     display: flex;
     justify-content: center;
 }

 .flex-center {
     height: inherit;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }


 .flex-border {
     border: 1px solid rgba(0, 0, 0, 0.2);
     background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.3));
     box-shadow: 0px 5px 5px -2px #0f4104;
     border-radius: .25rem;
     padding: 3rem 1rem;
     animation: 1.5s ease-out 0s slide-up;
 }

 .heading-sub,
 .heading-main {
     color: white;
     font-family: 'Pixelify Sans';
     text-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.9);
 }

 .heading-sub {
     font-size: 1.75rem;
     margin: 0;
 }

 /* For fadeout of container */
 @keyframes fade-out {
     from {
         opacity: 1;
     }

     to {
         opacity: 0;
     }
 }

 /* Slide up animation for welcome card */
 @keyframes slide-up {
     from {
         transform: translateY(.75rem);
     }

     to {
         transform: translateY(0rem);
     }
 }